<div style="justify-content: center;display: block;">
  <div *ngFor="let row of final; let i= index" style="display: flex;">
    <div *ngFor="let col of row; let j= index">
      <div class="block{{(i+j)%2}} {{flag[i][j]}}" style="display:block;height: 73px;width: 73px;border: 1px solid;display: flex;align-items: center;justify-content: center;" (mouseenter)="click(i,j)" (mouseleave)="reset()">
      </div>
    </div>
  </div>
</div>


<button (click)="start()">Start</button>
<button (click)="reset()">Stop</button>