<div style="justify-content: center;display: block;">
  <div *ngFor="let r of final;let i= index" style="display: flex;">
    <div *ngFor="let c of r;let j= index">
      <div class="block{{(i+j)%2}} {{flag[i][j]}}"
        style="display:block;height: 73px;width: 73px;border: 1px solid;display: flex;align-items: center;justify-content: center;"
        (click)="click(i,j)" >
        <div class="iconDivB" *ngIf="(board[i][j]== 'bknight')">
          <i class='fas fa-chess-knight icon' (click)="setKnight(i,j)"></i>
        </div>
        <div class="iconDivW" *ngIf="(board[i][j]== 'wknight')">
          <i class='fas fa-chess-knight icon' (click)="setKnight(i,j)"></i>
        </div>

        <div class="iconDivB" *ngIf="(board[i][j]== 'bpawn')">
          <i class='fas fa-chess-pawn icon' (click)="setBPawn(i,j)"></i>
        </div>
        <div class="iconDivW" *ngIf="(board[i][j]== 'wpawn')">
          <i class='fas fa-chess-pawn icon' (click)="setWPawn(i,j)"></i>
        </div>

        <div class="iconDivB" *ngIf="(board[i][j]== 'bbishop')">
          <i class='fas fa-chess-bishop icon' (click)="setBishop(i,j)"></i>
        </div>
        <div class="iconDivW" *ngIf="(board[i][j]== 'wbishop')">
          <i class='fas fa-chess-bishop icon' (click)="setBishop(i,j)"></i>
        </div>

        <div class="iconDivB" *ngIf="(board[i][j]== 'brook')">
          <i class='fas fa-chess-rook icon' (click)="setRook(i,j)"></i>
        </div>
        <div class="iconDivW" *ngIf="(board[i][j]== 'wrook')">
          <i class='fas fa-chess-rook icon' (click)="setRook(i,j)"></i>
        </div>

        <div class="iconDivB" *ngIf="(board[i][j]== 'bking')">
          <i class='fas fa-chess-king icon' (click)="setKing(i,j)"></i>
        </div>
        <div class="iconDivW" *ngIf="(board[i][j]== 'wking')">
          <i class='fas fa-chess-king icon' (click)="setKing(i,j)"></i>
        </div>

        <div class="iconDivB" *ngIf="(board[i][j]== 'bqueen')">
          <i class='fas fa-chess-queen icon' (click)="setQueen(i,j)"></i>
        </div>
        <div class="iconDivW" *ngIf="(board[i][j]== 'wqueen')">
          <i class='fas fa-chess-queen icon' (click)="setQueen(i,j)"></i>
        </div>

        <div *ngIf="(board[i][j]== 'null')" (click)="resetOp(i,j)" style="width: 100%;height: 100%;">
        </div>
      </div>
    </div>
  </div>
</div>


<button (click)="start()">Start</button>
<button (click)="reset()">Stop</button>

<!-- <button (click)="setBishop()">Bishop</button> -->
<!-- <button (click)="setQueen()">Queen</button> -->
<!-- <button (click)="setRook()">Rook</button> -->
<!-- <button (click)="setKnight()">Knight</button> -->